{% extends 'base.html' %}

{% block content %}
    <br>
    <h3>Welcome {{session['first_name']}}! check out our list of bands below: </h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Band Name</th>
                <th>Founding Member</th>
                <th>Genre</th>
                <th>Home City</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for band in bands %}
        <tr>
            <td>{{band.band_name}}</td>
            <td>{{band.founder.first_name}} {{band.founder.last_name}} </td>
            <td>{{band.music_genre}}</td>
            <td>{{band.home_city}}</td>
            <td><a href='/bands/{{band.id}}'>View</a>
                {% if session['user_id'] == band.founder.id %} 
                <a href='/bands/{{band.id}}/edit'>Edit</a> 
                <a href='/bands/{{band.id}}/confirm_delete'>Delete</a>
                {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <img src="{{ url_for('static', filename='images/band_closeup_guitar.jpg') }}" class="img-fluid" alt="Responsive image"">
    <br>
    <div></div>
    <br>
{% endblock %}