<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage Band</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
    
    <h2>Rock On {{session['first_name']}}!!!</h2>
    <table>
        <thead>
            <tr>
                <th>Band Name</th>
                <th>Founding Member</th>
                <th>Genre</th>
                <th>Home City</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for band in bands %}
        <tr>
            <td>{{band.band_name}}</td>
            <td>{{band.founder.first_name}} {{band.founder.last_name}} </td>
            <td>{{band.music_genre}}</td>
            <td>{{band.home_city}}</td>
            <td><a href='/bands/{{band.id}}'>View</a>
                {% if session['user_id'] == band.founder.id %} 
                <a href='/bands/{{band.id}}/edit'>Edit</a> 
                <a href='/bands/{{band.id}}/delete'>Delete</a>
                {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div></div>
    <br>
    <a href="#"> View My Bands </a><br>
    <a href='/bands/new'> Create New Band </a><br>
    <br>
    <div></div>
    <br>
    <form action="/logout">
        <input type="submit" value="Logout!">
        </form>
</body>
</html>