{% extends 'base.html' %}

{% block content %}
    <h1>Rock On {{session['first_name']}}!!!</h1>
    <div></div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}                           
        {% for message in messages %}          
            <p>{{message}}</p>                   
        {% endfor %}
    {% endif %}
{% endwith %}
    <h2>Edit Band:</h2>
    <form action='/bands/{{band.id}}/update' method='POST'>
        Band Name: <input type='text' name='band_name' value='{{band.band_name}}'><br>
        Music Genre: <input type='text' name='music_genre' value='{{band.music_genre}}'><br>
        Home City: <input type="text" name="home_city" value="{{band.home_city}}">
        <input type='submit' value="Update">
    </form>
    <div></div>
    <br>
    <div></div>

    <form action="/logout">
        <input type="submit" value="Logout!">
    </form>
{% endblock %}