<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Together</title>
</head>
<body>
    <h1>Rock On {{session['first_name']}}!!!</h1>
    <div></div>
    <br>
    <div></div>
    <h3>My Bands:</h3>
    <div></div>
    
    <div></div>
    <br>
    <div></div>
    <br>
    
    <a href="/dashboard">Dashboard</a>
    <form action="/logout">
        <input type="submit" value="Logout!">
    </form>
</body>
</html>