{% extends 'base.html' %}

{% block content %}
<h1>Rock On {{session['first_name']}}!!!</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action='/bands/create' method='POST'>
    <div class="mb-3">
        <label class="form-label" >Band Name:</label>
        <input type='text' name='band_name' class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Music Genge: </label>
        <input type='text' name='music_genre' class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" >Home City:</label>
        <input type='text' name='home_city' class="form-control">
    </div>
    <button type="submit" class="btn btn-secondary"> Create Band </button>
</form>
</body>
<br>
{% endblock %}